# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
*.pem

# Debug
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Local files
*.local
/data/
/scripts/tiles/viirs_urls.txt

# Ignore vscode AI rules
.github/instructions/codacy.instructions.md
